form.note-form(@submit.prevent="onSubmit")
    .header-title
        .form-title {{ form_title }}
        .close-form(@click="hiddenDialogCloseBtn") &#10005
    input(
        required
        name="name"
        v-model="eq_name"
        placeholder="Имя")
    input(
        required
        name="telefon"
        v-model="eq_telefon"
        placeholder="Телефон")
    textarea(
        required
        name="question"
        v-model="eq_question"
        placeholder="Вопрос")
    img(src="@/assets/images/button-question.png" @click="hiddenDialog")
