form.note-form(@submit.prevent="onSubmit")
    .header-title
        //.form-title(v-if="isDesktop") {{ form_title1 }}
        //.form-title(v-if="isMobile") {{ form_title2 }}
        .form-title {{ form_title2 }}
        .close-form(@click="hiddenDialogCloseBtn2") &#10005
    input(
        required
        name="name"
        v-model="eq_name"
        placeholder="Имя")
    input(
        required
        name="telefon"
        v-model="eq_telefon"
        placeholder="Телефон")
    textarea(
        required
        name="question"
        v-model="eq_question"
        placeholder="Вопрос")
    img(src="@/assets/images/button-question.png" @click="hiddenDialog2")
