form.note-form(@submit.prevent="onSubmit")
    .header-title
        .form-title Задайте срочный вопрос
        .close-form(@click="hiddenDialogCloseBtn") &#10005
    input(
        required
        name="name"
        v-model="eq_name"
        placeholder="Имя")
    input(
        required
        name="telefon"
        v-model="eq_telefon"
        placeholder="Телефон")
    img(src="@/assets/images/btn_zakaz_gaz.png" @click="hiddenDialog")
